$orange: #ff690f;
$bg-color:#f6f6f6;

@mixin btn{
	display: block;
	font-family: Catamaran;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 6px;
	background-color: $orange;
	transition: .3s;
	&:hover{
		background-color: darken($orange, 15%);
	}
}